body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 2rem auto;
    color: $blue-500;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 1rem auto;
    color: $orange;
    border-bottom: 2px solid $orange;
    text-transform: uppercase;
    margin-top: 3rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    // line-height: 1.2;
    margin: 2rem auto 0.5rem auto;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

h6 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
}

small {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}