$white: #fdf9f3 !default;
$black: #2c292d !default;
$red: #ff6188 !default;
$orange: #fc9867 !default;
$yellow: #ffd866 !default;
$green: #a9dc76 !default;
$blue: #78dce8 !default;
$purple: #ab9df2 !default;

$basic: (
    "white": $white,
    "black": $black,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "blue": $blue,
    "purple": $purple
) !default;

// Add percentage of white to a color
@function tint-color($color, $percent){
    @return mix(white, $color, $percent);
}
  
// Add percentage of black to a color
@function shade-color($color, $percent){
    @return mix(black, $color, $percent);
}

// REDS
$red-100: tint-color($red, 80%) !default;
$red-200: tint-color($red, 60%) !default;
$red-300: tint-color($red, 40%) !default;
$red-400: tint-color($red, 20%) !default;
$red-500: $red !default;
$red-600: shade-color($red, 20%) !default;
$red-700: shade-color($red, 40%) !default;
$red-800: shade-color($red, 60%) !default;
$red-900: shade-color($red, 80%) !default;



// GREENS
$green-100: tint-color($green, 80%) !default;
$green-200: tint-color($green, 60%) !default;
$green-300: tint-color($green, 40%) !default;
$green-400: tint-color($green, 20%) !default;
$green-500: $green !default;
$green-600: shade-color($green, 20%) !default;
$green-700: shade-color($green, 40%) !default;
$green-800: shade-color($green, 60%) !default;
$green-900: shade-color($green, 80%) !default;



// YELLOWS
$yellow-100: tint-color($yellow, 80%) !default;
$yellow-200: tint-color($yellow, 60%) !default;
$yellow-300: tint-color($yellow, 40%) !default;
$yellow-400: tint-color($yellow, 20%) !default;
$yellow-500: $yellow !default;
$yellow-600: shade-color($yellow, 20%) !default;
$yellow-700: shade-color($yellow, 40%) !default;
$yellow-800: shade-color($yellow, 60%) !default;
$yellow-900: shade-color($yellow, 80%) !default;



// ORANGES
$orange-100: tint-color($orange, 80%) !default;
$orange-200: tint-color($orange, 60%) !default;
$orange-300: tint-color($orange, 40%) !default;
$orange-400: tint-color($orange, 20%) !default;
$orange-500: $orange !default;
$orange-600: shade-color($orange, 20%) !default;
$orange-700: shade-color($orange, 40%) !default;
$orange-800: shade-color($orange, 60%) !default;
$orange-900: shade-color($orange, 80%) !default;


// PURPLES
$purple-100: tint-color($purple, 80%) !default;
$purple-200: tint-color($purple, 60%) !default;
$purple-300: tint-color($purple, 40%) !default;
$purple-400: tint-color($purple, 20%) !default;
$purple-500: $purple !default;
$purple-600: shade-color($purple, 20%) !default;
$purple-700: shade-color($purple, 40%) !default;
$purple-800: shade-color($purple, 60%) !default;
$purple-900: shade-color($purple, 80%) !default;


// BLUES
$blue-100: tint-color($blue, 80%) !default;
$blue-200: tint-color($blue, 60%) !default;
$blue-300: tint-color($blue, 40%) !default;
$blue-400: tint-color($blue, 20%) !default;
$blue-500: $blue !default;
$blue-600: shade-color($blue, 20%) !default;
$blue-700: shade-color($blue, 40%) !default;
$blue-800: shade-color($blue, 60%) !default;
$blue-900: shade-color($blue, 80%) !default;


// GRAYS
$gray-100: tint-color($black, 90%) !default;
$gray-200: tint-color($black, 80%) !default;
$gray-300: tint-color($black, 70%) !default;
$gray-400: tint-color($black, 60%) !default;
$gray-500: tint-color($black, 50%) !default;
$gray-600: tint-color($black, 40%) !default;
$gray-700: tint-color($black, 30%) !default;
$gray-800: tint-color($black, 20%) !default;
$gray-900: tint-color($black, 10%) !default;